<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Joke</title>
</head>

<body>
  <div class="container">
    <h1>
      <%= heading %>
    </h1>

    <% if (locals.joke) { %>
      <form id="editjoke" method="post" action="/edit">
        <hidden name="id" value="<%=joke.id %>">
        <input type="text" name="text" value="<%=joke.jokeText %>">
        <input type="text" name="type" value="<%=joke.jokeType %>">
        <button class="full-width" type="submit">
          <%= submit %>
        </button>
      </form>
      <% } else {%>
        <form id="newJoke" method="post" action="/">
          <input type="text" name="text" placeholder="Joke Text" required>
          <input type="text" name="type" placeholder="Joke Type" required>
          <button class="full-width" type="submit">
            <%= submit %>
          </button>
        </form>
        <% } %>

  </div>
</body>

</html>
